:root {
    --primary-color: #1a4c8e;
    --secondary-color: #65b4ec;
    --terciary-color: #d6f0ff;

    --bg-error: #af0700;
    --bg-success: green; 
    --bg-warning: #c9b508;
    --bg-general: #1a3a5b;
    --bg-info: #00bcd4;
}